---
import { Image } from 'astro:assets'
import Sencilla from '@assets/Sencilla.jpg'
import Doble from '@assets/Doble.jpg'
import Jrsuite from '@assets/JrSuite.jpg'
import PetFriendlyPng from "@assets/pet1.png"
import DiscapacitadosPng from "@assets/discapacitados.png"
import WifiPng from "@assets/wifi.png"
import Btnreservar from '@components/Btnreservar.astro'
---

<hr class="border-white opacity-70" />

  <div class="flex justify-center">
    <h2 class="text-center uppercase text-white text-4xl py-8 subTitleFont">
      Nuestras habitaciones
    </h2>
  </div>
  <div data-aos="fade-up"
    class="p-4 grid grid-cols-1 justify-items-center md:grid-cols-2 lg:grid-cols-3"
  >
    <!-- primera tarjeta -->
    <div  
      class="box m-4 transition animation-duration-300 ease-in-out hover:scale-105"
    >
      <div class="bg-white max-w-sm flex flex-col m-0">
        <a
          href="/habitaciones/Sencilla"
          aria-label="Ver más sobre habitación sencilla"
        >
        <Image src={Sencilla} alt="Habitacion Sencilla"  />
          <!-- <img src="../assets/Sencilla.jpg" alt="Habitacion Sencilla" /> -->
        </a>

        <div class="p-5">
          <p
            class="text-black font-bold text-4xl text-center tracking-tight mb-2"
          >
            Sencilla
          </p>
          <div class="text-center text-xl my-4">
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
          </div>
          <div class="flex justify-evenly my-6 text-md">
            <p class="px-4 text-center">
              <i class="fa fa-bed"></i><br />Cama Doble
            </p>
            <p class="px-4 text-center">
              <i class="fa fa-bath"></i><br />Baño
            </p>
          </div>
          <div class="text-center my-6">
            <Btnreservar text="Información completa" link="/habitaciones/Sencilla" target="_self" />
          </div>
        </div>
      </div>
    </div>

    <!-- segunda tarjeta -->
    <div 
      class="box m-4 transition animation-duration-300 ease-in-out hover:scale-105"
    >
      <div class="bg-white max-w-sm flex flex-col m-0">
        <a
          href="/habitaciones/Doble"
          aria-label="Ver más sobre habitación doble"
        >
        <Image src={Doble} alt='Habitacion Doble'  />

          <!-- <img src="../assets/Doble.jpg" alt="Habitacion doble" /> -->
        </a>
        <div class="p-5">
          <p
            class="text-black font-bold text-4xl text-center tracking-tight mb-2"
          >
            Doble
          </p>
          <div class="text-center text-xl my-4">
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
          </div>

          <div class="flex justify-evenly my-6 text-md">
            <p class="px-1 text-center">
              <i class="fa fa-bed pr-2"></i><i class="fa fa-bed"></i><br />Camas
              Dobles
            </p>
            <p class="px-1 text-center">
              <i class="fa fa-bath"></i><br />Baño
            </p>
          </div>
          <div class="text-center my-6">
            <Btnreservar text="Información completa" link="/habitaciones/Doble" target="_self" />

          </div>
        </div>
      </div>
    </div>
    <!-- tercera tarjeta -->
    <div 
      class="box m-4 transition animation-duration-300 ease-in-out hover:scale-105"
    >
      <div class="bg-white max-w-sm flex flex-col m-0">
        <a
          href="/habitaciones/JrSuite"
          aria-label="Ver más sobre habitación Jr Suite"
        >
        <Image  src={Jrsuite} alt='Habitacion Jr Suite'   />
        
          <!-- <img src="../assets/JrSuite.jpg" alt="JrtSuite" /> -->
        </a>
        <div class="p-5">
          <p
            class="text-black font-bold text-4xl text-center tracking-tight mb-2"
          >
            Jr Suite
          </p>
          <div class="text-center text-xl my-4">
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
            <i class="fa fa-star text-[#132256]"></i>
          </div>
          <div class="flex justify-evenly my-6 text-md">
            <p class="px-1 text-center">
              <i class="fa fa-bed"></i><br />Cama Doble
            </p>
            <p class="px-1 text-center">
              <i class="fa fa-couch"></i><br />Sofacama
            </p>
            <p class="px-1 text-center">
              <i class="fa fa-bath"></i><br />Baño
            </p>
          </div>
          <div class="text-center my-6">
            <Btnreservar text="Información completa" link="/habitaciones/JrSuite" target="_self" />

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- seccion de servicios  -->
  <p
    class="text-center text-xl lg:text-2xl  text-white pt-4 subTitleFont uppercase"
  >
    Contamos con los siguientes servicios
  </p>
  <div class="flex justify-evenly px-10 py-8" data-aos="zoom-in">
    <div class="grid place-items-center">
      <Image
        src={PetFriendlyPng}
        alt="Amigables con tu mascota"
        class="md:w-[150px] md:h-[150px] w-[100px] h-[100px]"
      />
    </div>
    <div class="grid place-items-center">
      <Image
        src={DiscapacitadosPng}
        alt="Área para discapacitados"
        class="md:w-[150px] md:h-[150px] w-[100px] h-[100px]"
      />
    </div>
    <div class="grid place-items-center">
      <Image
        src={WifiPng}
        alt="Cuartos con WI-FI Gratis"
        class="md:w-[150px] md:h-[150px] w-[100px] h-[100px]"
      />
    </div>
  </div>
 